@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper{
    background:#FFF000;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(192, 192, 192, 0.1), 0 32px 64px -48px rgba(192, 192, 192, 0.1);
}
.form{
    margin: 5px;
    background:#FFE5CC;
    padding: 25px 30px;
    border:#9a9595;
    border-radius: 2px;
    box-shadow: 0 0 128px 0 rgba(192, 192, 192, 0.1), 0 32px 64px -48px rgba(192, 192, 192, 0.1);

}
.form form{
    margin: 5px;
    background:#FFE5CC;
    padding: 25px 30px;
    border:#9a9595;
    border-radius: 2px;
    box-shadow: 0 0 128px 0 rgba(192, 192, 192, 0.1), 0 32px 64px -48px rgba(192, 192, 192, 0.1);

}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}
.form form{
    margin: 50px 0;
}
.form form .error-txt{
    color: #1e1e1e;
    background: #646161;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #101010;
    display: none;
}
.form form .name-details .field:first-child{
    margin-right: 10px;
}
.form form .name-details .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .field input{
    outline: none;
}
.form form .input input{
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid rgb(255, 255, 153);
    border-radius: 5px;
}
.form form .image input{
    font-size: 17px;
}
.form form .button input{
    margin-top: 20px; 
    height: 40px;
    border: 1px solid rgb(255, 255, 153);
    font-size: 17px;
    font-weight: 400;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}
.form form .field i{
    position: absolute;
    right: 10px;
    color: rgb(17, 16, 16);
    top: 73%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form form .field i.active::before{
    content: "\f070";
    color: #333;
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}
.users{
    padding: 25px 30px;
}
.users header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper img{
    object-fit: cover;
     border-radius: 50%;
}
.users header .content img{
    height: 50px;
    width: 50px;
}
.users .users-list .content img{
    height: 50px;
    width: 50px;
}
.users header .details{
    margin-left: 15px;
}
.users header .details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    color: #fff;
    padding: 6px 15px;
    font-size: 15px;
    background: #333;
    border-radius: 5px;
}
.users .search{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.users .search .text{
    font-size: 18px ;
}
.users .search input{
    position: absolute;
    height: 30px;
    width: 20%;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.users .search button{
    width: 40px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}
.users .search button.active{
    color: #fff;
    background: #333;
}
.users .search button.active i::before{
    content: "\f00d";

}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar{
   width: 0px; 
}

.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

/* .users-list a .content img{
    height: 40px;
    width: 40px;  
} */
.users-list a .status-dot{
    position: absolute;
    /* top: 20%; */
    /* align-items: center; */
    font-size: 8px;
    color: #468;
    display: flex;
    right: 37%;
}
/* chat Area CSS code */
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
/* .chat-area header .back-icon{
    font-size: 18px;
    color: #333;
} */
/* .chat-area header img{
    height: 40px;
    width: 40px;
    margin: 0 15px;
} */
/* .chat-area header span{
    font-size: 17px; 
    font-weight: 500;
} */
/* .chat-box{
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
} */
/* .chat-box .chat{
    margin: 15px 0;
} */
/* .chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
} */
/* .chat-box .outgoing{
    display: flex;
} */
/* .chat-box .outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
} */
/* .outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
} */
/* .chat-box .incoming{
    display: flex;
    align-items: flex-end;

} */
/* .chat-box .incoming img{
    height: 35px;
    width: 35px;
} */
/* .incoming .details{
    margin-left: 10px;
} */
/* .incoming .details p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
} */
/* .chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
} */
/* .typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
} */
/* .typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
} */
